<!-- Page Title -->
<div class="row">
  <section class="col-xs-12">
    <h3>Access denied</h3>
  </section>
</div>

<!-- Content -->
<div class="row">
  <section class="col-xs-12">
    <p>You do not have access to view this page.</p>
  </section>
</div>
