/*Cassandra Tam 2016*/

/*MAIN FRAME*/

html {
  position: relative;
  min-height: 100%;
}

html, body  {
  font-family: Arial;
}

body {
  padding-top: 50px;
  margin-bottom: 45px;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.container, .container-fluid {
  color: #333333;
}

.container .text-muted {
  margin: 14px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 49px;
  border-top:1px solid transparent;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*OVERRIDE BOOTSTRAP*/
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
  border-radius: 3px;
}

@media (min-width:768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top:0;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-horizontal .control-label{
  text-align: left;
}

tr.collected td {
  background-color:#e8e8e8;
  color: #999 !important;
  font-style: italic;
}

th {
 color: #337ab7;
}

th button.sort-option {
  padding: 0;
}

th button.sort-select {
  color: #c55;
}

th button.sort-select:hover {
  color: #c55;
}
